.header-logo {
  margin-top: -.8em;
}

.header-nav-option {
  :hover {
    background-color: $dark-grey;
    color: $light-grey;
    font-weight: 300;
    text-decoration: none;
  }
}

.city-title {
  color: $title-gray;
  display: inline-block;
  margin: 0;
  margin-left: .5em;
  margin-top: -.4em;
}
