.visualization-dashboard {
  background-color: $white;
  border-radius: 10px;
  opacity: .9;
  position: absolute;
  z-index: 2;
}

.dashboard-closed {
  height: 50px;
  margin-top: 43em;
  width: 50px;
}

.dashboard-opened {
  height: 75%;
  margin-top: 25vh;
  overflow: auto;
  width: 50%;
}

.dashboard-glyph-opened {
  background-color: $light-blue;
  float: right;
  height: 36px;
  margin: -1px;
  padding-right: 2.5px;
  padding-top: 5px;
  position: absolute;
  right: 0;
  top: 0;
}

.dashboard-glyph-closed {
  display: block;
  font-size: 2em;
  padding-left: 12.5px;
  padding-top: 10px;
}

.dashboard-tabs-closed {
  display: none;
}

.nav-tabs > li > a {
  background-color: $light-blue !important;
  border-bottom-width: 0 !important;
  border-radius: 0 !important;
  color: $offish-white;
  font-size: .95em;
  font-weight: bold;

  :focus,
  :hover {
    background-color: $light-blue;
    color: $offish-white;
  }
}

.nav-tabs > li.active {
  a {
    background-color: $dark-blue !important;
    color: $offish-white !important;

    :focus,
    :hover {
      background-color: $dark-blue;
      color: $offish-white;
    }
  }
}

.nav-pills > li > a {
  background-color: $light-green !important;
  border: 0;
  border-radius: 0;
  color: $offish-white;
  font-weight: bold;

  :focus,
  :hover {
    background-color: $light-green;
  }
}

.nav-pills > li.active {
  a {
    background-color: $dark-green !important;

    :focus,
    :hover {
      background-color: $dark-green;
    }
  }
}

.environmental-quality-data-viz {
  display: flex;
  min-height: 45vh;
  width: 100%;
}

.environmental-quality-graph {
  margin-top: 2em;
  width: 80%;
}

.eq-button-list {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.pollutant {
  border-radius: 0;
  flex-grow: 1;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  width: 100%;
}
