#data-input {
 height: 50px;
 width: 50px;
 margin-top: 43em;
 background-color: white;
 border-radius: 10px;
 opacity: 0.9;
 position: relative;
 float: right;
}
.data-input-toggle  {
 padding-left: 12.5px;
 padding-top: 10px;
 font-size: 2em;
 display: block;
}

.data-input-opened {
 margin-top: 25vh !important;
 width: 50% !important;
 height: 75% !important;
 overflow: auto;
 z-index: 3;
}
.data-input-closed {
  z-index: 1;
}

.data-input-opened-glyph {
 float: left;
 padding-left: 5px;
 padding-right: 5px;
 padding-top: 10px;
 height: 36px;
 margin: -1px;
 font-size: 1em !important;
 background-color: rgb(113, 196, 237);

}
