#layer-selection {
  background-color: white;
  border-radius: 5px;
  height: 30px;
  margin-top: 3%;
  opacity: 0.9;
  position: absolute;
  width: 120px;
  z-index: 6;
}
#user-layer-selection {
  background-color: white;
  border-radius: 5px;
  height: 30px;
  margin-top: 5.5%;
  opacity: 0.9;
  position: absolute;
  width: 120px;
  z-index: 5;
}
.layer-list-opened {
  height: 90% !important;
  overflow:auto;
  width: 25em !important;
}

.user-layer-list-opened {
  height: 90% !important;
  overflow:auto;
  width: 25em !important;
}
.layer-list-icon-open {
  display: block;
  float: right;
  padding-top: 5px;
  position: sticky;
  text-align: center;
  width: 10%;
  z-index: 5;
}

.layer-list-icon-closed {
  float: left;
  padding-left: 9px;
  padding-top: 8px;
}

.lot-toggle {
  background-color: white;
  border-radius: 5px;
  height: 30px;
  margin-top: 8%;
  opacity: 0.9;
  position: absolute;
  width: 110px;
  z-index: 4;
}
