#header-logo {
 margin-top: -.8em;
}

.header-nav-option:hover {
 color: #eee;
 background-color: #333;
 text-decoration: none;
 font-weight:300;

}
#login-modal-title {
 display: flex;
 justify-content: center;
}

.login-button-helper {
 display:inline-block;
 width:50%;
}

.auth-buttons {
 border-radius: 0 !important;
}
