:global {
  @import 'base';
  @import 'vendor/normalize';
  @import 'appheader';
  @import 'dashboard';
  @import 'login';
  @import 'datainput';
  @import 'featurelist';
  @import 'homepage';
  @import 'layerselection';
  @import 'survey';
  @import './datadashboard/resourcepane';
  @import './datadashboard/qualitativepane';
  @import './datainput/umispane';
  @import './datainput/surveypane';


  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  #map {
    bottom: 0;
    height: 94vh;
    position: relative;
    top: 51px;
    width: 100%;
  }

  * {

    :before,
    :after {
      box-sizing: inherit;
    }
  }
}
