$white: #fff;
$offish-white: #fafafa;
$light-grey: #eee;
$off-white: rgb(220, 220, 220);
$title-gray: #a1a1a1;
$transparent-grey: rgba(160, 206, 226, .3);
$dark-grey: #333;
$light-black: rgb(30, 30, 30);
$black: #000;
$light-blue: rgb(113, 196, 237);
$dark-blue: rgb(14, 94, 134);
$light-green: rgb(73, 224, 129);
$dark-green: rgb(48, 148, 85);
