.audit-data-message {
  h3 {
    margin-bottom: 5em;
    margin-top: 5em;
    text-align: center;
  }
}

.kpi-indicators {
  text-align: center;
}

.archetype-library {
  margin-left: 15px;
  min-height: 60vh;

  select {
    float: right;
    margin-right: 3em;
  }
}

.archetype-container {
  display: flex;

  :first-child {
    flex-grow: 1;

    img {
      width: 100%;
    }
  }

  :last-child {
    flex-grow: 3;
  }
}

.archetype-details {
  margin-left: 2em;
}

.archetype-action-buttons {
  display: flex;

  div {
    background-color: $black;
    height: 4vh;
  }
}
