.umis-data {
  margin-left: 2em;
  margin-right: 2em;
  &-title {
    margin-bottom: 1em;
    text-align: center;
  }

  &-intro {
    &-head {
      text-align: center;
    }

    &-body {

      h4 {
        text-align: center;
      }

      h6 {
        text-align: center;
      }
    }
  }
}

.energy-section {
  padding-top: 2.5em;
}

.add-btn {
  text-align: left;
}

.energy-button {
  width: 170px;
}

.day-label {
  width: 80px;
}

label {
  margin-right: 12px;
}

input {
  margin-right: 12px;
}
