.umis-data {
  &-intro {
    &-head {
      text-align: center;
    }

    &-body {
      margin-left: 2em;
      margin-right: 2em;

      h4 {
        text-align: center;
      }

      h6 {
        text-align: center;
      }
    }
  }

  &-location {
    margin-left: 2em;
    margin-right: 2em;

    &-title {
      margin-bottom: 1em;
      text-align: center;
    }
  }
  
}
